{% if collection.metafields.menus.slider %}
      {% assign collection_handle = collection.metafields.menus.slider %}
{% else %}
  {% assign collection_handle = section.settings.col_nav %}
{% endif %}
    
{% if linklists[collection_handle].handle != blank %}
<section class="o-grid o-grid--small-pad   collection-list">
    {% for link in linklists[collection_handle].links %}
    {% if link.type == 'collection_link' %}
    {% assign linkCollection = link.object %}
     <article class="o-grid__item  collection-list__item  u-size-1@m  u-flex">
        <a class="u-grow u-flex" href="{{ link.url }}">
            <div class="block  border  border--top  u-flex">
                <div class="block__info  block__info--small  block__info--center  collection-list__wrap">
                    <div class="collection-list__img">  
                        {% if linkCollection.image != blank %}
                    {%- assign url = linkCollection.image.src | collection_img_url: 'large' %}
                    {%- assign alt = linkCollection.title | escape  %}
                    {% else %}
                      {%- assign url = linkCollection.products.first.featured_image | img_url: 'master' %}
                    {%- assign alt = linkCollection.title | escape  %}
                    {% endif %}
                    {%- if linkCollection.metafields.slider.image -%}
                      {% assign url = linkCollection.metafields.slider.image %}
                      {% assign alt = linkCollection.title %}
                    {%- endif -%}
                    <img src="{{url}}" alt="{{ alt }}"/>
                    </div>
                    <h4 class="collection-list__title u-textUpper">{{ link.title }}</h4>
                </div>
            </div>
        </a>
    </article>
    {% endif %}
    {% endfor %}
</section>
{% endif %}
