<section class="o-grid  collection-list">
    <article class="o-grid--item  o-grid--small-item  u-size-1@m">
        <div class="block  border  border--top">
            <div class="block__info  block__info--small  block__info--center  collection-list__wrap">
                <div class="collection-list__img"></div>
                <h1 class="h4  caps  h-light">T-shirts</h1>
            </div>
        </div>
    </article>
    <article class="o-grid--item  o-grid--small-item  u-size-1@m">
        <div class="block  border  border--top">
            <div class="block__info  block__info--small  block__info--center  collection-list__wrap">
                <div class="collection-list__img"></div>
                <h1 class="h4  caps  h-light">T-shirts</h1>
            </div>
        </div>
    </article>
    <article class="o-grid--item  o-grid--small-item  u-size-1@m">
        <div class="block  border  border--top">
            <div class="block__info  block__info--small  block__info--center  collection-list__wrap">
                <div class="collection-list__img"></div>
                <h1 class="h4  caps  h-light">T-shirts</h1>
            </div>
        </div>
    </article>
    <article class="o-grid--item  o-grid--small-item  u-size-1@m">
        <div class="block  border  border--top">
            <div class="block__info  block__info--small  block__info--center  collection-list__wrap">
                <div class="collection-list__img"></div>
                <h1 class="h4  caps  h-light">T-shirts</h1>
            </div>
        </div>
    </article>
    <article class="o-grid--item  o-grid--small-item  u-size-1@m">
        <div class="block  border  border--top">
            <div class="block__info  block__info--small  block__info--center  collection-list__wrap">
                <div class="collection-list__img"></div>
                <h1 class="h4  caps  h-light">T-shirts</h1>
            </div>
        </div>
    </article>
    <article class="o-grid--item  o-grid--small-item  u-size-1@m">
        <div class="block  border  border--top">
            <div class="block__info  block__info--small  block__info--center  collection-list__wrap">
                <div class="collection-list__img"></div>
                <h1 class="h4  caps  h-light">T-shirts</h1>
            </div>
        </div>
    </article>
    <article class="o-grid--item  o-grid--small-item  u-size-1@m">
        <div class="block  border  border--top">
            <div class="block__info  block__info--small  block__info--center  collection-list__wrap">
                <div class="collection-list__img"></div>
                <h1 class="h4  caps  h-light">T-shirts</h1>
            </div>
        </div>
    </article>
    <article class="o-grid--item  o-grid--small-item  u-size-1@m">
        <div class="block  border  border--top">
            <div class="block__info  block__info--small  block__info--center  collection-list__wrap">
                <div class="collection-list__img"></div>
                <h1 class="h4  caps  h-light">T-shirts</h1>
            </div>
        </div>
    </article>
    <article class="o-grid--item  o-grid--small-item  u-size-1@m">
        <div class="block  border  border--top">
            <div class="block__info  block__info--small  block__info--center  collection-list__wrap">
                <div class="collection-list__img"></div>
                <h1 class="h4  caps  h-light">T-shirts</h1>
            </div>
        </div>
    </article>
    <article class="o-grid--item  o-grid--small-item  u-size-1@m">
        <div class="block  border  border--top">
            <div class="block__info  block__info--small  block__info--center  collection-list__wrap">
                <div class="collection-list__img"></div>
                <h1 class="h4  caps  h-light">T-shirts</h1>
            </div>
        </div>
    </article>
    <article class="o-grid--item  o-grid--small-item  u-size-1@m">
        <div class="block  border  border--top">
            <div class="block__info  block__info--small  block__info--center  collection-list__wrap">
                <div class="collection-list__img"></div>
                <h1 class="h4  caps  h-light">T-shirts</h1>
            </div>
        </div>
    </article>
    <article class="o-grid--item  o-grid--small-item  u-size-1@m">
        <div class="block  border  border--top">
            <div class="block__info  block__info--small  block__info--center  collection-list__wrap">
                <div class="collection-list__img"></div>
                <h1 class="h4  caps  h-light">T-shirts</h1>
            </div>
        </div>
    </article>
</section>