<section class="collection-header  o-grid">
    <div class="o-grid--item  u-size-12@s">
        <div class="block  block--row  border">
            <div class="block__col">
                <div class="block__info  block__info--light-gray  block__info--large  collection-header__info">
                    <h1 class="block__title  block__title--large  block__title--p-t  caps  collection-header__title">Ethical T-Shirts</h1>
                    <p>We search far and wide to bring you our favourite unique print and colour block men’s t-shirts. All t-shirts are ethically made from sustainable fibres such as organic cotton, hemp and organic linen. Our vision is to provide you with transparent information about where your t-shirts come from. Click on a product footprint tab to read detailed information about each t-shirts supply chain story. </p>
                </div>
            </div>

            <div class="collection-header__img  block__col">

            </div>
        </div>
    </div>
</section>