<section class="o-grid  o-grid--p">
    <div class="o-grid__item  u-size-12@s u-mB-48">
        <span class="u-textUpper  h3  nimbus u-mL-16" for="sort-by">Sort by</span>
        <select id="sort-by">
            <option value="manual">Featured</option>
            <option value="price-ascending">Price: Low to High</option>
            <option value="price-descending">Price: High to Low</option>
            <option value="title-ascending">A-Z</option>
            <option value="title-descending">Z-A</option>
            <option value="created-ascending">Oldest to Newest</option>
            <option value="created-descending">Newest to Oldest</option>
            <option value="best-selling">Best Selling</option>
          </select>
    </div>

    {% paginate collection.products by 16 %}
    {% for product in collection.products %}
        {% if template contains 'brands' %}
        <div class="o-grid__item  u-size-6@s  u-size-4@m  u-size-3@l">
            {% include 'product-card-grid', product: product %}
        </div>
        {% else %}
            <div class="o-grid__item  u-size-6@s  u-size-4@m  u-size-3@l u-mB-32">
                {% include 'product-card-list', product: product %}
            </div>
        {% endif %}

    {% else %}
    	<div class="u-flex u-size-12 u-justifyCenter u-pV-40">
        	<p>No results</p>
        </div>
    {% endfor %}
    {% if paginate.pages > 1 %}
        {% include 'pagination', paginate: paginate %}
    {% endif %}
    {% endpaginate %}

</section>
