{% paginate collection.products by settings.pagination_limit %}
	<section class="o-grid o-grid--p">
		<div class="o-grid__item  u-size-12@s">
		   {% include 'breadcrumbs', paginate: paginate %}
		</div>
	</section>
{% endpaginate %}

<section class="section-header  o-grid">
    <div class="o-grid__item  u-size-12@s">
        <div class="block  block--row  border border--small">
            <div class="block__col">
                <div class="block__info  block__info--light-gray  block__info--large  section-header__info">
                    <h1 class="u-textUpper  section-header__title  nimbus">{{ collection.title }}</h1>
                    {% if collection.description != blank %}
                        <div class="section-header__content">
                            {{ collection.description }}
                        </div>
                        {% if collection.description.size > 480 %}
                        	<button class="section-header__more js-see-more">See More</button>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            <div class="section-header__img  block__col">
            	{% if collection.image != blank %}
            		{%- assign url = collection.image | img_url: 'master' %}
            		{%- assign alt = collection.image.alt  %}
                {% else %}
                	{%- assign url = products.first.featured_image | img_url: 'master' %}
            		{%- assign alt = products.first.featured_image.alt  %}
                {% endif %}
                <img src="{{url}}" alt="{{ alt }}"/>
            </div>
        </div>
    </div>
</section>
