<section class="collection-buttons  o-grid  o-grid--p">
    <div class="o-grid--item  u-size-4@m">
        <a href="#" class="collection-buttons__a">
            <button class="button  collection-buttons__button">
                quality essentials
            </button>
        </a>
    </div>
    <div class="o-grid--item  u-size-4@m">
        <a href="#" class="collection-buttons__a">
            <button class="button  collection-buttons__button">
                new in
            </button>
        </a>
    </div>
    <div class="o-grid--item  u-size-4@m">
        <a href="#" class="collection-buttons__a">
            <button class="button  collection-buttons__button">
                ethical sweatshirts
            </button>
        </a>
    </div>
</section>