<footer class="footer">
    <section class="footer__section">
        <div class="o-grid  u-flex">
            <div class="o-grid--item  u-size-6@m">
                
            </div>
        </div>
    </section>
</footer>