<footer class="footer">
    <section class="footer__section">
        <div class="o-grid  u-flex">
            
            <div class="o-grid--item  u-size-6@m">
                <article class="block  join  border">
                    <div class="join__wrap  block__info  block__info--p-tb">
                        <h1 class="block__title  block__title--large  block__title--p-t  blue  caps">Join the brothers</h1>
                        <p class="white">Stay upto date with ethical men's clothing, selected with style:</p>
                        <ul class="join__ul">
                            <li class="join__li">New products</li>
                            <li class="join__li">Suply chain stories</li>
                            <li class="join__li">Thought pieces</li>
                            <li class="join__li">Like minded projects</li>
                        </ul>
                        <form action="/action_page.php">
                            <input type="email" id="email" name="email" placeholder="Email address" class="join__input">
                            <input type="submit" class="button  button--dark  join__button" value="SIGN UP">
                        </form> 
                    </div>
                </article>
            </div>
            
            <div class="o-grid--item  u-size-6@m">
                <article class="block  block--row  social  border">
                    
                    <div class="block__col">
                        <div class="social__wrap  block__info  block__info--p-tb">
                            <h1 class="block__title  block__title--large  block__title--p-t  caps">Social jazz</h1>
                            <ul class="social__ul">
                                <li class="social__li">
                                    <a href="#"  class="social__a">
                                        Instagram
                                    </a>
                                </li>
                                <li class="social__li">
                                    <a href="#"  class="social__a">
                                        Facebook
                                    </a>
                                </li>
                                <li class="social__li">
                                    <a href="#"  class="social__a">
                                        Twitter
                                    </a>
                                </li>
                                <li class="social__li">
                                    <a href="#"  class="social__a">
                                        Refer a friend
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="social__img  block__col">

                    </div>

                </article>
            </div>

        </div>
    </section>
</footer>