<footer class="footer">
    <section class="footer__section">
        <div class="o-grid  u-flex">
            <div class="o-grid--item  u-size-6@m">
                <section class="join  border">
                    <div class="join__wrap">
                        <h1 class="footer__title  blue  caps">Join the brothers</h1>
                        <p class="white">Stay upto date</p>
                        <p class="white">Item | item | item | item</p>
                    </div>
                </section>
            </div>
        </div>
    </section>
</footer>