<section class="c-hero-slider">
    <div class="o-grid  o-grid--item">
        <div class="hero-slider">
            <div class="slide">
                <div class="slide__img">

                </div>
                <article class="slide__info">
                    <h1 class="slide__title  nimbus">
                        Our Favourite Sustainable Garms’ For A Slow Summer
                    </h1>
                    <button class="button slide__button  slide__button--large">
                        shop summer's picks
                    </button>
                </article>
                
            </div>
        </div>
    </div>
</section>