<section class="c-hero-slider">
    <div class="o-grid  o-grid--item">
        <div class="hero-slider">
            <div>
                <div class="slide  border">
                    <div class="slide__img">

                    </div>
                    <article class="slide__info">
                        <h1 class="slide__title  nimbus">
                            Our Favourite Sustainable Garms’ For A Slow Summer
                        </h1>
                        <button class="button slide__button">
                            shop summer's picks
                        </button>
                    </article>
                    
                </div>
            </div>
            <div>
                <div class="slide  border">
                    <div class="slide__img">

                    </div>
                    <article class="slide__info">
                        <h1 class="slide__title  nimbus">
                            Our Favourite Sustainable Garms’ For A Slow Summer
                        </h1>
                        <button class="button slide__button">
                            shop summer's picks
                        </button>
                    </article>
                    
                </div>
            </div>
            <div>
                <div class="slide  border">
                    <div class="slide__img">

                    </div>
                    <article class="slide__info">
                        <h1 class="slide__title  nimbus">
                            Our Favourite Sustainable Garms’ For A Slow Summer
                        </h1>
                        <button class="button slide__button">
                            shop summer's picks
                        </button>
                    </article>
                    
                </div>
            </div>
        </div>
        <ul class="slide__controls" id="hero-controls" aria-label="Carousel Navigation" tabindex="0">
            <li class="slide__prev" data-controls="prev" aria-controls="customize" tabindex="-1">
                <i class="fas fa-angle-left fa-5x"></i>
            </li>
            <li class="slide__next  button" data-controls="next" aria-controls="customize" tabindex="-1">
                <?xml version="1.0" encoding="UTF-8"?>
                <svg width="17px" height="18px" viewBox="0 0 17 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>NEXT</title>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Arrow" fill="#FFFFFF">
                            <polygon id="Fill-3" transform="translate(8.500000, 9.000000) rotate(-270.000000) translate(-8.500000, -9.000000) " points="7.58805575 1 0 17 2.34598347 17 8.54454108 3.44934827 14.6540165 17 17 17 9.44133218 1"></polygon>
                        </g>
                    </g>
                </svg>       
            </li>
        </ul>
    </div>
</section>