<section class="home-news">
    <div class="o-grid">
        <div class="o-grid__item  u-size-6@m">
            <a href="#">
                <article class="block  border">
                    <div class="home-news__img">
                        <p class="block__message  block__message--blue">Message</p>
                    </div>
                    <div class="block__info  block__info--white">
                        <h1 class="block__title  block__title--large">
                            Project pico
                        </h1>
                        <p class="block__p">
                            Some text about the news story
                        </p>
                        <button class="button">
                            read story
                        </button>
                    </div>
                </article>
            </a>
        </div>
        <div class="o-grid__item  u-size-6@m">
            <a href="#">
                <article class="block  border">
                    <div class="home-news__img">
                        <p class="block__message  block__message--blue">Message</p>
                    </div>
                    <div class="block__info  block__info--white">
                        <h1 class="block__title  block__title--large">
                            Project pico
                        </h1>
                        <p class="block__p">
                            Some text about the news story
                        </p>
                        <button class="button">
                            read story
                        </button>
                    </div>
                </article>
            </a>
        </div>

    </div>
</section>
