<section class="home-about">
    <div class="o-grid  u-flex">
        <div class="o-grid--item  u-size-4@m">
            <article class="home-about__item">
                <div class="home-about__icon">
                    
                </div>
                <div class="home-about__info">
                    <h1 class="home-about__title">Title</h1>
                    <p>Every product has a 'footprint' tab breaking down its social and environmental impact.</p>
                </div>
            </article>
        </div>
        <div class="o-grid--item  u-size-4@m">
            <article class="home-about__item">
                <div class="home-about__icon">
                    
                </div>
                <div class="home-about__info">
                    <h1 class="home-about__title">Title</h1>
                    <p>Every product has a 'footprint' tab breaking down its social and environmental impact.</p>
                </div>
            </article>
        </div>
        <div class="o-grid--item  u-size-4@m">
            <article class="home-about__item">
                <div class="home-about__icon">
                    
                </div>
                <div class="home-about__info">
                    <h1 class="home-about__title">Title</h1>
                    <p>Every product has a 'footprint' tab breaking down its social and environmental impact.</p>
                </div>
            </article>
        </div>

        <a href="#" class="home-about__button">
            <button class="button">
                LEARN MORE
            </button>
        </a>
        
    </div>
</section>