<?xml version="1.0" encoding="UTF-8"?>
<svg width="23px" height="19px" viewBox="0 0 23 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>ICON / SEARCH Copy 2</title>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Top-Nav-Copy-3" transform="translate(-1146.000000, -20.000000)" stroke="#234766">
            <g id="Group" transform="translate(1142.000000, 14.000000)">
                <path d="M4.65462519,14.5 L26.3453748,14.5 L23.6181021,24.5 L7.38189792,24.5 L4.65462519,14.5 Z" id="Rectangle" fill="#FFFFFF"></path>
                <path d="M9,14 C8.66666667,9 10.8333333,6.5 15.5,6.5 C20.1666667,6.5 22.3333333,9 22,14" id="Path-3"></path>
            </g>
        </g>
    </g>
</svg>