<?xml version="1.0" encoding="UTF-8"?>
<svg width="30" height="16.16" viewBox="0 0 369 203" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Group 21</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Icon-/-Delivery" transform="translate(-16.000000, -99.000000)">
            <g id="Group-21" transform="translate(21.000000, 104.000000)">
                <path d="M51,167 L357.833973,167 L357.833973,99.4810068 C357.833973,99.4810068 366.225448,29.0180684 263.692683,29.0180684 L263.692683,0 L112.565794,0" id="Stroke-1" stroke="#5078A0" stroke-width="10" stroke-linecap="round"></path>
                <polyline id="Stroke-3" stroke="#5078A0" stroke-width="10" stroke-linecap="round" points="264 29 264 118 52 118"></polyline>
                <polyline id="Stroke-5" stroke="#5078A0" stroke-width="10" stroke-linecap="round" points="301 33 301 102 358 102"></polyline>
                <line x1="0" y1="62.5" x2="122" y2="62.5" id="Stroke-7" stroke="#5078A0" stroke-width="10" stroke-linecap="round"></line>
                <line x1="51" y1="31.5" x2="142" y2="31.5" id="Stroke-9" stroke="#5078A0" stroke-width="10" stroke-linecap="round"></line>
                <line x1="17" y1="90.5" x2="106" y2="90.5" id="Stroke-11" stroke="#5078A0" stroke-width="10" stroke-linecap="round"></line>
                <path d="M130,166.5 C130,180.583543 118.807395,192 105,192 C91.1926049,192 80,180.583543 80,166.5 C80,152.416457 91.1926049,141 105,141 C118.807395,141 130,152.416457 130,166.5" id="Fill-13" fill="#FEFEFE"></path>
                <path d="M130,166.5 C130,180.583543 118.807395,192 105,192 C91.1926049,192 80,180.583543 80,166.5 C80,152.416457 91.1926049,141 105,141 C118.807395,141 130,152.416457 130,166.5 Z" id="Stroke-15" stroke="#5078A0" stroke-width="10" stroke-linecap="round"></path>
                <path d="M325,167.500573 C325,181.583799 313.806523,193 299.999438,193 C286.192353,193 275,181.583799 275,167.500573 C275,153.417346 286.192353,142 299.999438,142 C313.806523,142 325,153.417346 325,167.500573" id="Fill-17" fill="#FEFEFE"></path>
                <path d="M325,167.500573 C325,181.583799 313.806523,193 299.999438,193 C286.192353,193 275,181.583799 275,167.500573 C275,153.417346 286.192353,142 299.999438,142 C313.806523,142 325,153.417346 325,167.500573 Z" id="Stroke-19" stroke="#5078A0" stroke-width="10" stroke-linecap="round"></path>
            </g>
        </g>
    </g>
</svg>