<section class="o-grid  o-grid--p  product-main">

    <div class="o-grid--item  u-size-12@s">
        <p>Breadcrumbs go here init</p>
    </div>

    <div class="o-grid--item  u-size-6@m  u-size-7@l">
        <div class="product-main__img  product-main__img--hero"></div>
        <div class="product-main__img"></div>
        <div class="product-main__links">
            <p>t</p>
            <p>f</p>
            <p>p</p>
            <p>e</p>
        </div>
    </div>

    <div class="o-grid--item  u-size-6@m  u-size-5@l">
        <a href="#" class="product-main__a">
            <h2 class="product-main__title  caps  h3">Brothers We Stand</h2>
        </a>
        <h1 class="product-main__title  gray  caps  h3">PREMIUM WEIGHT ORGANIC T-SHIRT</h1>
        <h2 class="product-main__title  product-main__title--price  blue  caps  h3  h-light">£40.00</h2>

        <h3 class="product-main__detail  h5  gray">Color - <span class="h-light">White</span></h3>
        <div class="product-main__colors">
            <div class="product-main__color"></div>
            <div class="product-main__color"></div>
            <div class="product-main__color"></div>
        </div>
        
        <h3 class="product-main__detail  h5  gray">Size</h3>
        <div class="product-main__sizes">
            <div class="product-main__size  caps">s</div>
            <div class="product-main__size  caps">m</div>
            <div class="product-main__size  caps">l</div>
            <div class="product-main__size  caps">xl</div>
        </div>
        <a href="#" class="product-main__a">
            Size Help and Product Measurements
        </a>

        <div class="product-main__buttons">
            <a href="#">
                <button class="button">
                    Add to bag
                </button>
            </a>
            <a href="#">
                <button class="button  button--round  product-main__button">
                    F
                </button>
            </a>
        </div>

        <table class="product-main__table">
            <tbody class="product-main__tbody">
                <tr class="product-main__tr">
                    <td class="product-main__td">Icon</td>
                    <td class="product-main__td" colspan="2">Organic cotton</td>
                </tr>
                <tr class="product-main__tr">
                    <td class="product-main__td">Icon</td>
                    <td class="product-main__td" colspan="2">Regular Fit<br>Twin Needle Durable Stitching<br>Premium Weight 180 G/M² Organic Jersey</td>
                </tr>
                <tr class="product-main__tr">
                    <td class="product-main__td">Icon</td>
                    <td class="product-main__td" colspan="2">Made in Dhaka - Bangladesh</td>
                </tr>
                <tr class="product-main__tr">
                    <td class="product-main__td">Icon</td>
                    <td class="product-main__td" colspan="2">Premium Wardrobe Staple</td>
                </tr>
                <tr class="product-main__tr">
                    <td class="product-main__td">Icon</td>
                    <td class="product-main__td" colspan="2">UK: Free delivery 3-5 working days from dispatch</td>
                </tr>
                
            </tbody>
        </table>

        <p class="gray  h-bold">Brothers notes: Good quality organic t-shirt made to last in a premium weight.</p>
        
    </div>
</section>

