<section class="product-similar  u-section-m">
    <div class="o-grid  o-grid--p">
        <div class="o-grid--item  u-size-12@s">
            <h1 class="h2  caps">Something else?</h1>
        </div>
        <div class="o-grid--item  u-size-6@s  u-size-4@m  collection-items__item"> 
            <div class="product-similar__img"></div>
            <h2 class="collection-items__title  collection-items__title--brand">Brothers We Stand</h2>
            <h1 class="collection-items__title">Premium Weight Organic T-Shirt</h1>
            <h3 class="collection-items__title  collection-items__title--price">£20.00</h3>
        </div>
    
        <div class="o-grid--item  u-size-6@s  u-size-4@m  collection-items__item"> 
            <div class="product-similar__img"></div>
            <h2 class="collection-items__title  collection-items__title--brand">Brothers We Stand</h2>
            <h1 class="collection-items__title">Premium Weight Organic T-Shirt</h1>
            <h3 class="collection-items__title  collection-items__title--price">£20.00</h3>
        </div>
    
        <div class="o-grid--item  u-size-6@s  u-size-4@m  collection-items__item"> 
            <div class="product-similar__img"></div>
            <h2 class="collection-items__title  collection-items__title--brand">Brothers We Stand</h2>
            <h1 class="collection-items__title">Premium Weight Organic T-Shirt</h1>
            <h3 class="collection-items__title  collection-items__title--price">£20.00</h3>
        </div>
    </div>
</section>