<section class="product-footprint  u-section-m">
    <div class="o-grid  o-grid--p">
        <div class="o-grid--item  u-size-12@s">
            <h1 class="h2  caps">PRODUCT FOOTPRINT</h1>
            <div class="product-footprint__block">
                <div class="product-footprint__col">
                    <div class="product-footprint__img">
                        
                    </div>
                </div>
                <div class="product-footprint__col  product-footprint__info">
                    <h2 class="h2  caps  product-footprint__title">STRONG POINTS</h2>
                    <ul class="product-footprint__ul">
                        <li class="product-footprint__li">Use of organic cotton</li>
                        <li class="product-footprint__li">Made to last</li>
                        <li class="product-footprint__li">Cut & sew factory audited by Fair Wear Foundation</li>
                    </ul>
                    
                </div>
            </div>
        </div>
        <div class="o-grid--item  u-size-6@m">
            <h2>Col 1</h2>
        </div>
        <div class="o-grid--item  u-size-6@m">
            <h2>Col 2</h2>
        </div>
    </div>
</section>