/*----------------------------------------------------------------------------*\
    #COLOUR SETTINGS
\*----------------------------------------------------------------------------*/

//$primary:     #2E3133;
//$secondary:   #F2F2F2;
//$tertiary:    #7D7D80;
//$quaternary:  #EDEDED;

//$input:       #F2F2F2;
//$text:        #2E3133;

//$error:       #FF8080;
//$warn:        #FAE57D;
//$success:     #73E699;
//$disabled:    #AAAAAA;

// $palette: (
//     'primary':      $primary,
//     'secondary':    $secondary,
//     'tertiary':     $tertiary,
//     'quaternary':   $quaternary
// );

:root {
    --blue: #54ADD3;
    --dark-blue: #234766;
    --light-gray: #F2F2F2;
    --dark-gray: #1f1f1f;
    --white: #fff;
    --black: #000000;
 
    --padding-sm: 2rem;
    --padding-md: 3rem;
    --padding-lg: 8rem;
    
    --container-width: calc(160rem + var(--padding-lg) * 2);
    --radius: 2.5rem;
}
