/*----------------------------------------------------------------------------*\
    #COLOUR SETTINGS
\*----------------------------------------------------------------------------*/

:root {
    --blue: #54ADD3;
    --dark-blue: #234766;
    --light-gray: #F2F2F2;
    --exlight-gray: #f8f8f8;
    --dark-gray: #1f1f1f;
    --white: #fff;
    --black: #000000;
 
    --padding-sm: 2rem;
    --padding-md: 3rem;
    --padding-lg: 8rem;
    
    --container-width: calc(160rem + var(--padding-lg) * 2);
    --radius: 2.5rem;
}
