/*----------------------------------------------------------------------------*\
    #GRID SETTINGS
\*----------------------------------------------------------------------------*/

:root {
  --containerMaxWidth: 128rem;
  --gutter: 2rem;
}

$nu-gridMaxWidth: var(--containerMaxWidth);
