.border {
    &::before {
        background: var(--blue);
        content: '';
        display: block;
        height: 0.6rem;
        left: 0;
        position: absolute;
        right: 0;
        top: 2.5rem;
        width: 100%;
        z-index: 3;
        .collection-header &,
        .blog-listing &,
        .blog-template & {
            top: 1.8rem;
        }
        .footer & {
	        top: 2.7rem;
        }
    }
    
    &.nav__col {
	    
	    &::before {
		    top: 3.5rem;
	    }
	    
	    &:first-child::before {
		    left: -1.4rem;
		    width: calc(100% + 1.4rem);
	    }
	    
	    &:last-child::before {
		    right: -1.4rem;
		    width: calc(100% + 1.4rem);
	    }
	    
	}

    &--top::before {
        top: 0;
    }

    &--darkblue::before {
        background:var(--dark-blue);
    }
}
