.border {
    &::before {
        display: block;
        content: "";
        position: absolute;
        top: 3.5rem;
        left: 0;
        right: 0;
        height: 0.6rem;
        width: 100%;
        background: var(--blue);
        z-index: 3;
    }

    &--darkblue::before {
        background: var(--dark-blue);
    }
}