.border {
    &::before {
        background: var(--blue);
        content: '';
        display: block;
        height: 0.6rem;
        left: 0;
        position: absolute;
        right: 0;
        top: 3.5rem;
        width: 100%;
        z-index: 3;
        .collection-header &,
        .blog-listing &,
        .blog-template & {
            top: 1.8rem;
        }
    }

    &--top::before {
        top: 0;
    }

    &--darkblue::before {
        background: var(--dark-blue);
    }
}
