.h-text-center {
    text-align: center;
    font-size: 4.5rem;
}
.h-underline {
    border-bottom: 0.25rem solid var(--blue);
}

.h-light {
    font-weight: normal;
}

.caps {
    text-transform: uppercase;
}