.h-text-center {
    font-size: 4.5rem;
    text-align: center;
}
.h-underline {
    border-bottom: 0.25rem solid var(--blue);
}

.h-light {
    font-weight: normal;
}

.h-bold {
    font-weight: 700;
}

.caps {
    text-transform: uppercase;
}

.blue {
    color: var(--blue);
}
.white {
    color: var(--white);
}
.gray {
    color: var(--dark-gray);
}

/*.u-text-upper {
  text-transform: uppercase !important;
}

.u-text-right {
  text-align: right !important;
}

.u-color-dark {
  color: $color-dark !important;
}*/