/*----------------------------------------------------------------------------*\
    #DOCUMENT ELEMENT STYLES
\*----------------------------------------------------------------------------*/

body {
    color: var(--dark-blue);
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
