/*----------------------------------------------------------------------------*\
    #FORM ELEMENT STYLES
\*----------------------------------------------------------------------------*/

select {
  background-color: var(--white);
  border: 1px solid var(--dark-blue);
  border-radius: 0;
  height: 4rem;
  max-width: 100%;
  padding: 0 3.2rem 0 1rem;
  text-transform: uppercase;
}
