/*----------------------------------------------------------------------------*\
    #TYPE ELEMENT STYLES
\*----------------------------------------------------------------------------*/

/* HEADING TITLE */

h1 {
    font-size: 3.6rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.4rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 2rem;
    margin: 0;
}

.nimbus {
    font-family: nimbus-sans-extended, sans-serif;
}

.section-title {
    font-size: 2.1rem;
    font-weight: bold;
}

@include respond-below(md) {
    h1 {
        font-size: 2.4rem;
    }
}