/*----------------------------------------------------------------------------*\
    #TYPE ELEMENT STYLES
\*----------------------------------------------------------------------------*/

/* FONT FAMILY WEIGHT */

$fontWeight300: 300;
$fontWeight400: 400;
$fontWeight500: 500;
$fontWeight600: 600;
$fontWeight700: 700;
$fontWeight800: 800;


/* FONT SIZE */

$font12: 12px;
$font14: 14px;
$font18: 18px;


/* HEADING TITLE */

.section-title {
  position: relative;
  h1 {
    display: block;
    position: relative;
    &.title-xl {
      font-size: 2.25rem;
    }
    &.title-lg {
      font-size: 1.875rem;
    }
    &.title-md {
      font-size: 1.5rem;
    }
    &.title-sm {
      font-size: 1.25rem;
    }
  }
  h2 {
    display: block;
    position: relative;
    &.title-xl {
      font-size: 2.25rem;
    }
    &.title-lg {
      font-size: 1.875rem;
    }
    &.title-md {
      font-size: 1.5rem;
    }
    &.title-sm {
      font-size: 1.25rem;
    }
  }
  h3 {
    display: block;
    position: relative;
    &.title-xl {
      font-size: 2.25rem;
    }
    &.title-lg {
      font-size: 1.875rem;
    }
    &.title-md {
      font-size: 1.5rem;
    }
    &.title-sm {
      font-size: 1.25rem;
    }
  }
  h4 {
    display: block;
    position: relative;
    &.title-xl {
      font-size: 2.25rem;
    }
    &.title-lg {
      font-size: 1.875rem;
    }
    &.title-md {
      font-size: 1.5rem;
    }
    &.title-sm {
      font-size: 1.25rem;
    }
  }
  h5 {
    display: block;
    position: relative;
  }
  h6 {
    display: block;
    position: relative;
  }
}