/*----------------------------------------------------------------------------*\
    #TYPE ELEMENT STYLES
\*----------------------------------------------------------------------------*/

/* HEADING TITLE */

.h1 {
    font-size: 3.5rem;
}

.h2 {
    font-size: 3rem;
}

.h3 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.h4 {
    font-size: 1.25rem;
    margin: 0;
}

.h5 {
    font-size: 2rem;
    margin: 0;
}

.nimbus {
    font-family: nimbus-sans-extended, sans-serif;
}

.section-title {
    font-size: 2.1rem;
    font-weight: bold;
}