node_modules
.DS_Store
package-lock.json
yarn.lock
yarn-error.log
pnpm-lock.yaml
pnpm-debug.log
.env
.vscode
config/settings_data.json
config.yml
config/settings_schema.json
package.json
config/frames.json

scripts/application/application.min.js
scripts/polyfills/polyfills.min.js
styles/style.css
