.accordion {
    &__toggle {
        align-items: center;
        border-bottom: 1px solid #8f8f8f;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: 0 0 1.5rem;
        padding: 0 0 0.5rem;
    }

    &__arrow {
        //transform: rotate(180deg);
        color: var(--gray);
        font-size: 2.5rem;
        transition: 0.3s all;
    }

    &__content {
        color: var(--dark-gray);
        display: none;
        transition: 0.3s all;
        &--active {
            display: block;
            margin-bottom: 2rem;
        }
    }
}
