.block {
    padding: 0 1rem;

    &--row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    &__col {
        width: 50%;
    }

    &__info {
        padding: 2rem;

        &--center {
            text-align: center;
        }
        &--white {
            background: white;
        }
        &--light-gray {
            background: var(--light-gray);
        }
        &--small {
            padding: 0 0.5rem 0.5rem;
        }
        &--p-tb {
            padding: 3rem 2rem;
        }
        &--large {
            padding: 8rem 3rem;
        }
        &--p-tb0 {
            padding: 0 2rem;
        }
    }
    &__message {
        position: absolute;
        top: 0.75rem;
        left: 2rem;
        color: white;
        text-transform: uppercase;
        &--blue {
            color: var(--dark-blue);
        }
        left: 1rem;
		font-size: 1.2rem;
		z-index: 1;
    }
    &__title {
        font-size: 2rem;
        text-transform: uppercase;
        margin-bottom: 0;
        &--large {
            font-size: 2.75rem;
        }
        &--p-t {
            padding-top: 2rem;
        }
        &--mid {
	        font-size: 2.1rem;
	        font-weight: normal;
        }
    }

    &__p {
        font-size: 1.75rem;
    }
    
    &__buttons .button {
	    display: inline-block;
	}
}