.blog__hero {
    &__col {
        display: flex;
        flex-direction: row;        
        width: 40%;
    }

    &__content{
        padding: 5rem 3rem;
        padding-right: 8rem;
        margin-bottom: 7rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    &__img {
        width: 60%;
    }    
}
.blog-items {
    .block__message {
        top: 0;
    }
}