.blog-hero {
    &__col {
        display: flex;
        flex-direction: row;        
        width: 40%;
    }

    &__content{
        padding: 5rem 3rem;
        padding-right: 8rem;
        margin-bottom: 7rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;     
    }
    &__img {
        width: 60%;
    }
}