.block {
    padding: 0 1rem;

    &--row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    &__col {
        width: 50%;
    }

    &__info {
        padding: 2rem 1rem 1rem;

        &--center {
            text-align: center;
        }
        &--white {
            background: white;
        }
        &--light-gray {
            background: var(--light-gray);
        }
        &--small {
            padding: 0 0.5rem 0.5rem;
        }
        &--p-tb {
            padding: 3rem 2rem;

            @include respond-below(md) {
                padding: 0 2rem 3rem;
            }
        }
        &--large {
            padding: 8rem 3rem;
        }
        &--p-tb0 {
            padding: 0 2rem;
        }
        .rte_settings {
            p {
                @include DINOTRegular;
                font-size: 1.8rem;    

                @include respond-below(md) {
                    font-size: 1.4rem;
                }            
            }
        }
    }
    &__message {
	    @include DINOTRegular;
        font-size: 1.2rem;
        left: 1rem;
        position: absolute;
        text-transform: uppercase;
        top: 0.5rem;
        z-index: 1;
        color: var(--dark-blue);
        
        &--blue {
            color: var(--blue);
        }

        .blog__hero & {
            left: 3rem;
        }
        
        .home-news & {
	        color: white;
        }
    }

    &__title {
	    font-weight: bold;
        font-size: 2rem;
        margin-bottom: 0;
        text-transform: uppercase;
        &--large {
            font-size: 2.1rem;

            @include respond-below(md) {
                font-size: 1.8rem;
            }
        }
        &--p-t {
            padding-top: 1.5rem;
        }
        &--mid {
            font-size: 2.1rem;
            font-weight: normal;
                margin-bottom: .5rem;

            @include respond-below(md) {
                font-size: 1.6rem;
            }
        }
    }

    &__p {
        @include DINOTRegular;
        font-size: 1.6rem;
        color: var(--dark-blue);

        @include respond-below(md) {
            font-size: 1.4rem;
        }
    }

    &__buttons .button {
        display: inline-block;
    }
}
