.c-breadcrumbs {
  font-size: 1.4rem;
  margin: 0 auto var(--gutter);
  max-width: var(--containerMaxWidth);
  overflow: auto;
  padding: 0.8rem 2.6rem;
  white-space: nowrap;

  @include nu-media(m) {
    font-size: 1.8rem;
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    @include respond-below(sm) {
      display: flex;
      justify-content: flex-start;
      text-align: left;
    }
  }

  &__item {
    display: inline-block;

    a,
    span {
      color: var(--dark-blue);
      padding: 0 0.5rem;
    }

    &:first-child {
      a {
        padding-left: 0;
      }
    }

    &:last-child {
      padding-right: 2.6rem;
    }

    &:not(:last-child)::after {
      content: "/";
    }
  }

  &__link[aria-current="page"],
  span {
    color: inherit;
    color: #404040;
    font-weight: normal;
    text-decoration: none;
  }
}
