.button {
    background: var(--blue);
    color: var(--white);
    text-transform: uppercase;
    padding: 1rem 3rem;
    box-sizing: unset;
    transition: 0.3s all;
    font-size: 1.75rem;
    font-family: urw-din,sans-serif;
    font-style: normal;
    font-weight: 400;
    &:hover, &:focus {
        background: var(--dark-blue);
    }

    &--dark {
        &:hover {
            color: var(--dark-blue);
            background-color: white;
        }
    }

    &--w100 {
        width: 100%;
    }

    &--round {
        border-radius: 50%;
        padding: 0;
        width: 5rem;
        height: 5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

}