.cloudzoom-lens {
    border: none;
    border: 1px solid #888;
    box-shadow: -0px -0px 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    height: 175px;
    width: 225px;
    z-index: 11;
}
.cloudzoom-zoom {
    border: 1px solid #888;
    box-shadow: -0px -0px 10px rgba(0, 0, 0, 0.4);
}
.cloudzoom-zoom-inside {
    border: none;
    box-shadow: none;
}
.cloudzoom-caption {
    background-color: #000;
    color: #fff;
    display: none;
    font-family: sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding: 10px;
    text-align: left;
}
div.cloudzoom-ajax-loader {
    display: none;
}
.cloudzoom-lens + div {
    display: none !important;
}
