.collection-items {
    margin-bottom: 8rem;
    &__item {
        margin: 3rem 0;
        padding: 0 .1rem;
    }
    &__img {
        /*background-color: chartreuse;*/
        padding: 0 .8rem;
    }
    &__title {
        color: var(--dark-gray);
        font-size: 1.5rem;

        font-weight: 400;
        margin: 0 0 0.25rem;

        &--brand {
            color: var(--gray);
            margin-top: 1rem;
            .collection-brand &,
            .collection-display-children & {
                color:var(--dark-blue);
                font-weight: 700;
            }
        }
        &--price {
            font-weight: 700;
        }
    }
    &__main-title {
        font-size: 2.1rem;
        margin: 0;
    }
}
