.collection-buttons {
    margin-top: 8rem;
    margin-bottom: 8rem;

    &__wrap {
        
        width: 100%;
    }

    &__col {
        width: 100%;
    }

    &__a {
        width: 100%;
        position: relative;
    }

    &__button {
        width: 100%;
        box-sizing: inherit;
        .active & {
            background-color: var(--dark-blue);
        }
    }
}