.collection-header {
    padding-bottom: 3rem;
    padding-top: 3rem;

    &__img {
        background-color: rgb(130, 128, 240);
        display: flex;
        height: inherit;

        > img {
            object-fit: cover;
        }
    }

    &__info {
        margin-bottom: 1.6rem;
    }

    &__title {
        margin-bottom: 2rem;
    }
}
