.collection-items {
    margin-bottom: 8rem;
    &__item {
        margin: 3rem 0;
        padding: 0 0.1rem;
    }
    &__title {
        @include DINOTRegular;
        color: var(--dark-gray);
        font-size: 1.6rem;

        font-weight: 400;
        margin: 0 0 0.25rem;

        &--brand {
            /*color: var(--gray);
            margin-top: 1rem;*/

            .collection-brand &,
            .collection-display-children & {
                color: var(--dark-blue);
                font-weight: 700;
            }

            @include NimbusExt;
            font-weight: bold;
            color: var(--dark-blue);
            text-transform: uppercase;
        }
        &--price {
            font-weight: 700;
        }
    }
    &__main-title {
        font-size: 2.1rem;
        margin: 0;
    }

    .product-card {
        height: 100%;

        > a {
            height: 100%;
            display: flex;
        }

        .small-slide {
            &__shadow {
                display: flex;
                flex-direction: column;
                height: 100%;
            }
        }

        .block {
            &__info {
                height: 100%;
                .small-slide__shop {
                    margin-top: auto;
                }
            }
        }
    }
}
