.collection-header {
    padding-top: 3rem;
    padding-bottom: 3rem;

    &__img {
        height: inherit;
        background-color: rgb(130, 128, 240);
    }
    &__info {
        margin-bottom: 3rem;
    }
    &__title {
        margin-bottom: 2rem;
    }
}