.footer-nav {
    &__title {
        font-size: 2rem;
        margin: 0;
    }
    &__ul {
        list-style: none;
        margin-top: 2rem;
        padding: 0;

        &--col2 {
            columns: 2;
        }
    }
    &__li {
        margin: 0 0 calc(2rem / 2);
    }
    &__a {
        font-size: 1.75rem;
        text-transform: capitalize;
        transition: 0.3s all;
        &:hover {
            color: var(--blue);
        }
    }
}
