.home-news {
    background: var(--light-gray);
    padding: 8rem 0;

    &__img {
        background-color: var(--white);
        height: auto;
    }

    article {
    	&__grid-image {
    		width: 100%;
    	}
    }

    @include respond-below(md) {
    	padding: 2rem 0;
    }
}
