.home-news {
    background: var(--light-gray);
    padding: 8rem 0;

    &__img {
        background-color: var(--white);
        height: auto;
        max-height: 280px;
        overflow: hidden;
        position: relative;
        
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    article {
        &__grid-image {
            width: 100%;
        }
    }

    @include respond-below(md) {
        padding: 2rem 0;
    }
}
