.home-about {
    background-color: var(--exlight-gray);
    padding: 9rem 0 2rem;

    &__item {
        display: flex;
        flex-direction: row;
    }

    &__icon {
        border: 0;
        border-radius: 0;
        display: inline-block;
        height: auto;
        margin-right: 2rem;
        min-width: 7rem;
    }

    &__info {
        display: inline-block;
    }

    &__title {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
        text-transform: uppercase;
    }
}
