.legal-nav {
    line-height: 1em;
    list-style: none;
    padding-left: 0;

    &__li {
        @include AvenirNextRegular;
        border-right: 1px solid var(--tundora);
        color: var(--tundora);
        display: inline-block;
        font-size: 1.7rem;
        padding: 0 1rem;
        margin-bottom: 0.5rem;

        &:first-child {
            padding-left: 0;

            @include respond-below(md) {
                border: 0;
                display: block;
                padding-right: 0;
                margin-bottom: 0.5rem;
            }
        }

        &:last-child {
            border: 0;
        }

        a {
            color: var(--tundora);

            &:hover {
                color: var(--blue);
            }
        }

        @include respond-below(md) {
            font-size: 1.4rem;

            &:nth-child(2) {
                padding-left: 0;
            }
        }
    }
}