.payment-icons {
    cursor: default;
    list-style: none;
    user-select: none;
    
    @include respond-below(md) {
	    margin-left: 0;
	    padding-left: 0;
	}
}

.payment-icon {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    
    @include respond-below(md) {
	    margin-bottom: 5px;
	}
	
    &:first-child {
        margin-left: 0;
        &__svg {
            display: inline-block;
            fill: inherit;
            height: 24px;
            vertical-align: middle;
            width: 38px;
        }
    }
}
