.payment-icons {
    user-select: none;
    cursor: default;
    list-style: none;
}

.payment-icon {
    margin-bottom: 5px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
    &:first-child {
      margin-left: 0;
      &__svg {
        display: inline-block;
        width: 38px;
        height: 24px;
        fill: inherit;    
        vertical-align: middle;    
      }
    }
}