.product-main {
    margin-bottom: 8rem;
    &__img {
        background-color: tomato;
        height: 35rem;
        margin-bottom: 3rem;

        &--hero {
            background-color: salmon;
            height: 50rem;
        }
    }

    &__link {
        display: inline-block;
        margin-right: 2rem;
        width: 2rem;
    }

    &__title {
        font-size: 3rem;
        margin: 0 0 1rem;

        &--price {
            margin: 3rem 0;
        }
    }

    &__a {
        color: var(--blue);
        transition: 0.3s all;
        &:hover {
            color:var(--dark-blue);
        }
    }

    &__buttons {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 3rem 0;
    }

    &__button {
        margin-left: 2rem;
    }

    &__colors,
    &__sizes {
        margin-bottom: 2rem;
    }

    &__color {
        background-color: seagreen;
        display: inline-block;
        height: 4rem;
        margin-right: 2rem;
        margin-top: 1rem;
        width: 4rem;
        .active {
            border: 1px solid var(--dark-blue);
        }
    }

    &__sizes {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    &__size {
        align-items: center;
        background-color: var(--light-gray);
        color: var(--blue);
        display: flex;
        flex-direction: row;
        height: 5rem;
        justify-content: center;
        margin-right: 2rem;
        margin-top: 1rem;
        transition: 0.3s all;
        width: 5rem;
        &:hover,
        &:active {
            background-color: var(--blue);
            color: var(--white);
            cursor: pointer;
        }
    }

    &__table {
        margin: 3rem 0;
    }
    &__tr {
        vertical-align: top;
    }
    &__td {
        border: none;
        color: var(--dark-gray);
        padding-bottom: 2rem;
        padding-right: 2rem;
    }
}
