.product-footprint {
    background-color: var(--light-gray);
    padding: 8rem 0;

    &__block {
        display: flex;
        flex-direction: row;
        margin-bottom: 8rem;
    }

    &__col {
        height: inherit;
        width: 50%;
    }

    &__img {
        background-color: lightseagreen;
        // height: 35rem;
    }

    &__info {
        background-color: var(--blue);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3rem;
    }

    &__title {
        margin-bottom: 1.5rem;
    }
    &__ul {
        margin-top: 0;
    }
    &__li {
        font-size: 2rem;
    }
}
