.product-footprint {
    background-color: var(--light-gray);
    padding: var(--padding-lg) 0;

    &__title {
        @media only screen and (max-width: 767px){
            font-size: 2.1rem;
        }
    }

    &__block {
        display: flex;
        flex-direction: row;
        margin-bottom: var(--padding-lg);
        @media only screen and (max-width: 767px){
            flex-wrap: wrap;
        }
    }

    &__col {
        width: 50%;
        height: inherit;
        @media only screen and (max-width: 767px){
            width: 100%;
        }
    }

    &__img {
        background-color: lightseagreen;
        // height: 35rem;
    }

    &__info {
        padding: var(--padding-md);
        background-color: var(--blue);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        margin-bottom: 1.5rem;
    }
    &__ul {
        margin-top: 0;
    }
    &__li {
        font-size: 2rem;
    }
}