.product-meta {
    align-items: center;
    display: flex;
    margin-bottom: 2rem;

    &__icon {
        width: 50px;
    }
    &__detail {
        p {
            color: #404040;
            margin: 0;
        }
        a {
            color: $color-blue;
        }
    }
    &__list {
        span {
            border-right: 1px solid #404040;
            padding: 0 10px;
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                border-right: 0;
            }
        }
    }
}
