.product-meta {
    display: flex;
    margin-bottom: 2rem;
    margin-top: 2rem;
    flex-direction: column;
    width: 100%;

    &__content {
        margin-bottom: 15px;
        display: flex;
    }

    &__icon {
        width: 50px;
    }
    &__detail {
        width: calc(100% - 50px);

        p {
            color: #404040;
            margin: 0;
            font-size: 1.4rem;
            @include DINOTRegular;
        }

        a {
            color: var(--blue);
            font-size: 1.4rem;
            @include DINOTRegular;
        }
    }
    &__list {
        span {
            padding: 0;
            display: block;

            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                border-right: 0;
            }
        }
    }
}
