.product-similar {
    padding: var(--padding-sm) 0;
    &__img {
        height: 40rem;
        background-color: coral;
    }
    .product__img {
        margin: 0 auto;
    }
    .collection-items__title {
        padding-top: 1.5rem;
    }
}