.rich-text {
    &__text {
        @include DINOTRegular;
    }

    .h-light {
        font-weight: normal;

        @include respond-below(md) {
            font-size: 2.4rem;
            line-height: normal
        }
    }

    .h-underline {
        border-bottom: 0.4rem solid var(--blue);
        line-height: 2.75rem;
		display: inline-block;
		
		.windows & {
			padding-bottom: .4rem;
		}
    }
}
