.search-result {
    border-bottom: 1px solid var(--dark-blue);
    margin-bottom: 2rem;
    padding: 2rem 0;

    &:last-child {
        border-bottom: none;
    }

    p {
        @include DINOTRegular;
    }
}
