.search-form {
    &__input-wrapper {
        display: flex;
        flex-direction: column;
    }

    &__input {
        background-color: var(--white);
        border-radius: 0;
        box-shadow: none;
        height: 5rem;
        margin: 0;
    }
    &__submit {
        align-items: center;
        color: var(--dark-blue);
        display: flex;
        height: 4rem;
        justify-content: center;
        margin-left: auto;
        padding: 0rem;
        width: 4rem;

        &:hover,
        &:focus {
            color: var(--white);
        }

        svg {
            color: white;
        }
    }
}
