.section-buttons {
    margin-bottom: 8rem;
    margin-top: 0;

    &__button {
        box-sizing: inherit;
        justify-content: center;
        position: relative;
        width: 100%;
        width: 100%;

        &.active {
            background-color: var(--dark-blue);
        }
    }
}
