.slide {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 1rem;
    position: relative;
    z-index: 2;
    
    &__info {
        width: 40%;
        padding: var(--padding-lg) var(--padding-md) ;
        padding-right: var(--padding-lg);
        background-color: var(--light-gray);
        margin-bottom: 10rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        order: 1;
    }

    &__title {
        font-size: 4rem;
        line-height: 1.2;
        font-weight: 400;
    }
    
    &__img {
        width: 60%;
        height: 60rem;
        background-color: rgb(233, 93, 0);
        order: 2;
    }

    &__button {
        font-size: 2rem;
        background: var(--blue);
        transition: 0.3s all;
        padding: 0 2rem;
        &:hover, &:hover {
            background: var(--dark-blue);
        }
    }

    &__controls {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0 1rem;
        margin: 0;
    }

    &__prev {
        display: none;
    }


    &__next {
        // max-width: 2rem;
        text-align: center;
        padding: 2rem;
    }
}