.hero-slider .tns-item {
	padding-right: .3rem;
}

.slide {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 1.4rem;
    position: relative;
    z-index: 2;
    
    &.border::before {
	    top: 1rem;
	    background-color: var(--border-color);
    }
    
    &__info {
        width: 40%;
        padding: 5rem 3rem;
        padding-right: 8rem;
        background-color: var(--light-gray);
        margin-bottom: 7rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        order: 1;
    }

    &__title {
        font-size: 3.5rem;
        line-height: 1.2;
        font-weight: 400;
    }
    
    &__img {
        width: 60%;
        height: 48rem;
        background-color: rgb(233, 93, 0);
        order: 2;
        
        img {
	        object-fit: cover;
			height: 100%;
			width: 100%;
        }
    }

    &__button {
        font-size: 2rem;
        background: var(--blue);
        transition: 0.3s all;
        padding: 1rem 3rem;
        align-self: flex-end;

        &:hover, &:hover {
            background: var(--dark-blue);
        }
    }

    &__controls {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0 1.7rem 0 1rem;
        margin: 0;
        list-style: none;
    }

    &__prev {
        display: none;
    }


    &__next {
        // max-width: 2rem;
        text-align: center;
        padding: 2rem;
    }
    
    &__dots {
		display: flex;
		align-items: center;
		margin-right: 1.5rem;
    }
    
    &__dot {
	    width: 1.3rem;
	    height: 1.3rem;
	    background-color: var(--light-gray);
	    margin-right: .8rem;
	    display: inline-block;
		border-radius: 50%;
		transition: background-color .5s ease;
		
		&.active {
			background-color: var(--blue);
		}
    }
}