.slider {
    &__title {
        margin-bottom: 0.5rem;
        padding-left: 1rem;
    }

    &__controls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0 1.4rem 0 1rem;
        width: 100%;
        outline: none;

        &--wide {
            align-items: center;
            padding: 0 1rem 0 1rem;
            position: relative;
            top: -1rem;
        }

        &--negative {
            padding: 0 1rem;
        }

        @include respond-below(md) {
            &--thin {
                padding: 0 0.75rem;
            }
        }
    }

    &__more {
        margin-right: 1rem;
        order: 2;
    }

    &__next {
        align-items: center;
        display: flex;
        height: 4rem;
        justify-content: center;
        order: 3;
        padding: 0;
        text-align: center;
        width: 4rem;
        cursor: pointer !important;
        outline: none;

        @include respond-below(md) {
            height: 3.6rem;
        }
    }
    
    &__prev {
        align-items: center;
        display: flex;
        height: 4rem;
        justify-content: center;
        order: 3;
        padding: 0;
        text-align: center;
        width: 4rem;
        cursor: pointer !important;
        outline: none;
        transform: rotate(180deg);
        opacity: 0;
        transition: opacity .5s ease;
        
        &.visible {
	        opacity: 1;
        }

        @include respond-below(md) {
            height: 3.6rem;
        }
    }

    &__dots {
        align-items: center;
        display: flex;
        margin-right: 1.5rem;
        outline: none;
    }

    &__dot {
        background-color: var(--light-gray);
        border-radius: 50%;
        display: inline-block;
        height: 1.3rem;
        margin-right: 0.8rem;
        transition: background-color 0.5s ease;
        width: 1.3rem;
        cursor: pointer !important;

        &.is-active {
            background-color: var(--blue);
        }
    }

    @include respond-above(md) {
        &__index--1-2,
        &__index--2-0,
        &__index--0-1,
        &__index--0-2,
        &__index--0-0 {
            width: 50%;
        }
    }
}
