.hero-slider .tns-item {
    padding-right: 0.3rem;
}

.slide {
    display: flex;
    flex-direction: row;
    padding: 0 1.4rem;
    position: relative;
    width: 100%;
    z-index: 2;

    &.border::before {
        background-color: var(--border-color);
        top: 1rem;
    }

    &__info {
        background-color: var(--light-gray);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 7rem;
        order: 1;
        padding: 5rem 3rem;
        padding-right: 8rem;
        width: 40%;
    }

    &__title {
        font-size: 3.5rem;
        font-weight: 400;
        line-height: 1.2;
    }

    &__img {
        background-color: rgb(233, 93, 0);
        height: 48rem;
        order: 2;
        width: 60%;

        img {
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
    }

    &__button {
        align-self: flex-end;
        background: var(--blue);
        font-size: 2rem;
        padding: 1rem 3rem;
        transition: 0.3s all;

        &:hover,
        &:hover {
            background: var(--dark-blue);
        }
    }

    &__controls {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style: none;
        margin: 0;
        padding: 0 1.7rem 0 1rem;
        width: 100%;
        .collection-slider & {
            align-items: center;
            position: relative;
            top: -22px;
        }
    }

    &__prev {
        display: none;
    }

    &__next {
        padding: 2rem;
        // max-width: 2rem;
        text-align: center;
    }

    &__dots {
        align-items: center;
        display: flex;
        margin-right: 1.5rem;
    }

    &__dot {
        background-color: var(--light-gray);
        border-radius: 50%;
        display: inline-block;
        height: 1.3rem;
        margin-right: 0.8rem;
        transition: background-color 0.5s ease;
        width: 1.3rem;

        &.active {
            background-color: var(--blue);
        }
    }
}
