.social {
  height: 100%;

  &__wrap {
    height: 100%;
    @include respond-below(md) {
      flex-direction: column;
      height: auto;

      .block__col {
        width: 100%;
      }

      .block__info {
        padding: 0 1.5rem 1.5rem;
      }
    }
  }

  &__img {
    height: 100%;
    object-fit: cover;

    @include nu-media($maxbreak: m) {
      order: 1;
    }

    @include nu-media($minbreak: xs, $maxbreak: m) {
      max-height: 18rem;
    }
  }

  &__ul {
    list-style: none;
    margin: 0 0 2rem;
    padding: 0;

    @include respond-below(md) {
      margin-bottom: 0;
      margin-top: 1rem;
    }
  }

  &__li {
    font-size: 1.8rem;
    padding: 0.3rem 0;

    @include respond-below(md) {
      font-size: 1.4rem;
    }
  }

  &__a {
    color: var(--dark-gray);
    transition: 0.3s all;

    &:hover {
      color: var(--blue);
    }
  }

  &__link {
    @include respond-below(md) {
      order: 2;
    }
  }

  @include respond-below(sm) {
    margin-top: 3rem;

    &:before {
      top: 1rem;
    }
  }
}
