@import url('https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.css');

.tns-slider {
    overflow: visible !important;
}

.tns-slide-cloned {
    display: inline-block;
    opacity: 1 !important;
}

.tns-nav {
    display: none;
}

.tns-ovh {
    margin-left: -50%;
    padding: 0 50%;
    width: calc(200%);
}

.tns-item {
    &:not(.tns-slide-active) {
        opacity: 0.5 !important;
    }
}

.tns-outer {
    cursor: grab;
    user-select: none;
}
