@import url('https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.css');

.tns-slider {
    overflow: visible !important;
}

.tns-slide-cloned {
    display: inline-block;
    opacity: 1 !important;
}
