<!-- /templates/customers/register.liquid -->
<div class="section-account u-pV-40 u-mB-40">
	<div class="o-grid u-justifyCenter">
		<div class="o-grid__item u-size-12@m">
			<h3 class="nimbus u-textUpper u-textCenter u-mB-40">Create Account</h3>
		</div>

		<div class="o-grid__item u-size-4@m u-size-6@s">
			{% form 'create_customer' %} {{ form.errors | default_errors }}
				<div>
					<label for="first_name">First Name</label>
					<input type="text" value="" name="customer[first_name]" size="30" />
				</div>

				<div>
					<label for="last_name">Last Name</label>
					<input type="text" value="" name="customer[last_name]" size="30" />
				</div>

				<div>
					<label for="email">Email Address</label>
					<input type="email" value="" name="customer[email]" size="30" />
				</div>

				<div>
					<label for="password">Password</label>
					<input type="password" value="" name="customer[password]" size="30" />
				</div>
				
				<div class="u-flex u-alignCenter u-between">
					<input type="submit" class="button" value="Sign Up" />
					<p class="u-mB-0">
				    Returning Customer? {{ 'Sign In' | customer_login_link  }}
				  </p>
			  </div>
			{% endform %}
		</div>
	</div>
</div>