<!-- /templates/customers/reset_password.liquid -->
<div class="section-account u-pV-40 u-mB-40">
	<div class="o-grid u-justifyCenter">
		<div class="o-grid__item u-size-12@m">
			<h3 class="nimbus u-textUpper u-textCenter u-mB-40">Reset Password</h3>
		</div>

		<div class="o-grid__item u-size-4@m u-size-6@s">
			{% form 'reset_customer_password' %} {{ form.errors | default_errors }}

			<div>
				<label for="password">Password</label>
				<input type="password" value="" name="customer[password]" size="16" />
			</div>

			<div>
				<label for="password_confirmation">Password Confirmation</label>
				<input type="password" value="" name="customer[password_confirmation]" size="16" />
			</div>

			<div>
				<input type="submit" class="button" value="Reset Password" />
			</div>
			{% endform %}
		</div>
	</div>
</div>