/*----------------------------------------------------------------------------*\
    #FONT DECLARATIONS
\*----------------------------------------------------------------------------*/

@mixin font-face($fontname, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($fontname);
    src: url($path+".woff") format("woff");
    font-weight: $weight;
    font-style: $style;
  }
}

/* Include Font With Real Value Like below Example */
/* @include font-face(NimbusSan, "./NimbusSan-Reg", normal, normal); */

@include font-face(AG_Helvetica, "./AGHelvetica", normal, normal);
@include font-face(AvenirNextRegular, "./AvenirNext-Regular", normal, normal);
@include font-face(AvenirNextMedium, "./AvenirNext-Medium", 500, normal);
@include font-face(AvenirNextBold, "./AvenirNext-Bold", bold, normal);
@include font-face(DINMedium, "./DIN-Medium", 500, normal);
@include font-face(DINOTBold, "./DINOT-Bold", bold, normal);
@include font-face(DINOTRegular, "./DINOT-Regular", normal, normal);


@mixin Helvetica {
  font-family: AG_Helvetica;
  font-weight: normal;
  font-style: normal;
}

@mixin AvenirNextRegular {
  font-family: AvenirNextRegular;
  font-weight: normal;
  font-style: normal;
}

@mixin AvenirNextMedium {
  font-family: AvenirNextMedium;
  font-weight: 500;
  font-style: normal;
}

@mixin AvenirNextBold {
  font-family: AvenirNextBold;
  font-weight: bold;
  font-style: normal;
}

@mixin DINMedium {
  font-family: DINMedium;
  font-weight: 500;
  font-style: normal
}

@mixin DINOTBold {
  font-family: DINOTBold;
  font-weight: bold;
  font-style: normal;
}

@mixin DINOTRegular {
  font-family: DINOTRegular;
  font-weight: normal;
  font-style: normal;
}

@mixin NimbusExt {
  font-family: $nu-fontstack;
}	

.nimbus {
    @include NimbusExt
}
