/*----------------------------------------------------------------------------*\
    #SHARED ELEMENT STYLES
\*----------------------------------------------------------------------------*/

* {
    outline: none;
}

::selection {
  background: $color-blue;
  color: $color-white;
}

::-moz-selection {
  background: $color-blue;
  color: $color-white;
}

* {
  -webkit-tap-highlight-color: rgba($color-red, 0.2);
}