/*----------------------------------------------------------------------------*\
    #SHARED ELEMENT STYLES
\*----------------------------------------------------------------------------*/

* {
    outline: none;
}

::selection {
    background: var(--blue);
    color: var(--white);
}
