<section class="u-mB-48">
	{% for block in section.blocks %}
		{%- assign blog = blogs[block.settings.blog] -%}
		{% assign columns = block.settings.layout | split: '-' %}
    <div class="mp-bgFlip">
  		<div class="o-grid u-pV-32">
  			{% include 'blog-grid-item', blog: blog, remainder: remainder, columns: columns %}
  		</div>
    </div>
	{% endfor %}
</section>

{% schema %}
{
  "name": "Categories",
  "blocks": [
    {
      "type": "blog",
      "name": "Categories",
      "settings": [
        {
          "label": "Blog",
          "id": "blog",
          "type": "blog"
        },
        {
      "type": "select",
      "id": "layout",
      "label": "Layout",
          "default": "3-3-3-3",
          "options": [
              {
                  "value": "3-3-3-3",
                  "label": "1:1"
              }, {
                  "value": "3-6-3",
                  "label": "1:2:1"
              },
              {
                  "value": "3-3-6",
                  "label": "1:1:2"
              },
              {
                  "value": "6-3-3",
                  "label": "2:1:1"
              }
          ]
    },
        {
            "type": "checkbox",
            "id": "show_view_all",
            "label": "Show 'View all' button",
            "default": false
        }
      ]
    }
  ]
}
{% endschema %}
