<section class="o-grid  o-grid--p">
    {% for block in section.blocks %}
    	{%- assign blog = blogs[block.settings.blog] -%}
	    <div class="o-grid__item u-mT-32 sm-u-mV-16 u-size-12 {% if forloop.length == 4 %}u-size-3@m{% elsif forloop.length == 6 %} u-size-4@m{% else %}u-size-4@m{% endif %} u-size-6 u-size-4@s">
	        <a href="{{ blog.url }}" class="button u-size-12 section-buttons__button">{{ blog.title }}</a>
	    </div>
    {% endfor %}
</section>

{% schema %}
{
  "name": "Links",
  "blocks": [
    {
      "type": "blog",
      "name": "Links",
      "settings": [
        {
          "label": "Blog",
          "id": "blog",
          "type": "blog"
        }
      ]
    }
  ]
}
{% endschema %}