<section class="slider u-mV-80 sm-u-mV-50">
    <div class="o-grid  o-grid--item">
        {% if section.settings.title != blank %}
         <h4 class="nimbus u-textUpper slider__title">{{ section.settings.title | escape }}</h4>
        {% endif %}

        {%- assign collection = collections[section.settings.collection] -%}

        <div class="js-slider " data-items="4" data-gutter="1" data-responsive='{"350": {"items": "2"}, "768": {"items": "3"}, "1024": {"items": "4"}}'>
          {% for block in section.blocks %}
          	{% assign collection = collections[block.settings.collection] %}
            <div class="slide__item--{{section.id}}">
                {% include 'collection-card-grid', collection: collection %}
            </div>
          {% endfor %}

        </div>

        <ul class="slider__controls slider__controls--wide js-slider-controls" aria-label="Carousel Navigation" tabindex="0">
            <li class="slider__prev" data-controls="prev" aria-controls="customize" tabindex="-1">
                <i class="fas fa-angle-left fa-5x"></i>
            </li>
            <li class="slider__next  button" data-controls="next" aria-controls="customize" tabindex="-1">
                <?xml version="1.0" encoding="UTF-8"?>
                <svg width="17px" height="18px" viewBox="0 0 17 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Fill 3</title>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Arrow" fill="#FFFFFF">
                            <polygon id="Fill-3" transform="translate(8.500000, 9.000000) rotate(-270.000000) translate(-8.500000, -9.000000) " points="7.58805575 1 0 17 2.34598347 17 8.54454108 3.44934827 14.6540165 17 17 17 9.44133218 1"></polygon>
                        </g>
                    </g>
                </svg>
            </li>
            {% if section.settings.show_view_all %}
            	<li class="slider__more">
			    	<a class="button" href="{{ collection.url }}">View All</a>
			    </li>
		  {% endif %}
        </ul>
      

    </div>
</section>


{% schema %}
{
  "name": "Featured collections",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "A crafted collection"
    },
    {
      "id": "collection",
      "type": "collection",
      "label": "Collection"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "label": "Collection",
          "id": "collection",
          "type": "collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured collections",
      "category": "Collection"
    }
  ]
}
{% endschema %}

