<div class="collection-display-children">
    {% include "collection-list-slider" %}
    {% include "collection-header" %}

    {%- assign blocks = section.blocks | sort: 'collection.all_products_count' -%}

    <section class="collection-items">
    	<div class="o-grid u-mB-48">
	    	<form class="o-grid__item  u-size-12@s">
		        <span class="u-textUpper  h3  nimbus u-mL-8 u-mR-8" for="sort-by">Sort by</span>
		        
		        {%- capture contentForQuerystring -%}{{ content_for_header }}{%- endcapture -%}
			    {%- assign pageUrl = contentForQuerystring | split:'"pageurl":"' | last | split:'"' | first | split:'.myshopify.com' | last |
				   replace:'\/','/' |
				   replace:'%20',' ' |
				   replace:'\u0026','&'
				-%}
				{%- assign pageQuerystring = pageUrl | split:'?' | last -%}
				{%- assign parts = pageQuerystring | split:'&' -%}
				{%- assign sort = section.settings.sort -%}
				{%- for part in parts -%}
					{%- assign keyAndValue = part | split:'=' -%}
					{%- if keyAndValue.size > 1 -%}
						{%- if keyAndValue[0] == 'sort_by' -%}
						    {%- assign sort = keyAndValue[1] -%}
						 {% endif %}
					{% endif %}
				{% endfor %}
	
		        <select name="sort_by" onchange="this.form.submit()">
		            <option {%if sort == 'alphabetical' %}selected="selected"{% endif %} value="alphabetical">Alphabetical</option>
		            <option {%if sort == 'products_high' %}selected="selected"{% endif %} value="products_high">No of Products: High to Low</option>
		            <option {%if sort == 'products_low' %}selected="selected"{% endif %} value="products_low">No of Products: Low to High</option>
		            <option {%if sort == 'date' %}selected="selected"{% endif %} value="date">Oldest to Newest</option>
		            <option {%if sort == 'date_reversed' %}selected="selected"{% endif %} value="date_reversed">Newest to Oldest</option>
		          </select>
		    </form>
		</div>
		{% case sort %}
            {% when 'products_high' or 'products_low' %}
            {%- assign collections = collections | sort: 'all_products_count' -%}
            {% when 'date' or 'date_reversed' %}
            {%- assign collections = collections | sort: 'published_at' -%}
        {% endcase %}
        {% if sort == 'products_high' or sort == 'date_reversed' %}
        	{%- assign collections = collections | reverse -%}
        {% endif %}
        {% if section.settings.display_type == 'all' %}
        	{% for collection in collections %}
		        <div class="o-grid u-mB-48">
	                {% include 'collection-grid-item', collection: collection %}
	            </div>
			{% endfor %}
        {% else %}
        	{%- assign blocks = section.blocks | map: "settings" | map: "collection" -%}
	        {% for collection in collections %}
	        	{%- assign filtered = blocks | where: collection.handle -%}
	            	{% if filtered.size > 0 %}
						<div class="o-grid u-mB-48">
	            			{% include 'collection-grid-item', collection: collection %}
						</div>
					{% endif %}
	        {% endfor %}
        {% endif %}
    </section>

    {% assign collection_handle_bottom = section.settings.col_nav_bottom %}
	{% if collection.metafields.menus.slider %}
	      {% assign collection_handle_bottom = collection.metafields.menus.bottom %}
	{% endif %}
	{% include "collection-buttons", collection_handle: collection_handle_bottom %}
</div>


{% schema %}
{
    "name": "Collection Children",
    "settings": [
        {
            "type": "checkbox",
            "id": "show_vendor",
            "label": "Show product vendor"
        },
        {
            "type": "link_list",
            "id": "col_nav",
            "label": "Thumbnail Slider List"
        },
        {
            "type": "link_list",
            "id": "col_nav_bottom",
            "label": "Bottom List"
        },  
        {
            "type": "paragraph",
            "content": "All of your collections are listed by default. To customize your list, choose 'Selected' and add collections."
        },
        {
            "type": "radio",
            "id": "display_type",
            "label": "Select collections to show",
            "default": "all",
            "options": [
                {
                "value": "all",
                "label": "All"
                },
                {
                "value": "selected",
                "label": "Selected"
                }
            ]
        },
        {
            "type": "select",
            "id": "sort",
            "label": "Sort collections by:",
            "info": "Sorting only applies when 'All' is selected",
            "default": "alphabetical",
            "options": [
                {
                "value": "products_high",
                "label": "Product count, high to low"
                },
                {
                "value": "products_low",
                "label": "Product count, low to high"
                },
                {
                "value": "alphabetical",
                "label": "Alphabetically, A-Z"
                },
                {
                "value": "alphabetical_reversed",
                "label": "Alphabetically, Z-A"
                },
                {
                "value": "date",
                "label": "Date, old to new"
                },
                {
                "value": "date_reversed",
                "label": "Date, new to old"
                }
            ]
        }
    ],
    "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "label": "Collection",
          "id": "collection",
          "type": "collection"
        },
        {
            "type": "checkbox",
            "id": "show_view_all",
            "label": "Show 'View all' button",
            "default": false
        }
      ]
    }
  ]
}
{% endschema %}
