.o-grid {
    $b: &;

    &--p {
        padding: 0 1.8rem;
    }

    &--small-pad {
        #{$b}__item {
            padding-left: 0.1rem;
            padding-right: 0.1rem;
        }
    }
    
    &--small-marg {
	    &,  #{$b} & {
	 	    margin-left: -.9rem;
	 		margin-right: -.9rem;
		}
    }
}
