.o-grid {
    max-width: 125rem;
    &--p {
        padding: 0 calc(1rem + 0.8rem);
    }
    &--small-item {
        display: block;
        flex-direction: column;
        padding: 0 0.25rem;
    }
}
