/*----------------------------------------------------------------------------*\
    #SPACING UTILITIES
\*----------------------------------------------------------------------------*/


.u-section-m {
    margin-top: var(--padding-lg);
    margin-bottom: var(--padding-lg);

    &--bottom {
        margin-top: 0;
    }
}

.padding-wrap {
    padding-left: 2rem;
    padding-right: 2rem;
}