/*----------------------------------------------------------------------------*\
    #SPACING UTILITIES
\*----------------------------------------------------------------------------*/


.u-section-m {
    margin-top: 8rem;
    margin-bottom: 8rem;

    &--bottom {
        margin-top: 0;
    }
}

.padding-wrap {
    padding-left: 2rem;
    padding-right: 2rem;
}