<div class="o-grid u-alignCenter u-justifyCenter u-pV-80">
	<div class="o-grid__item u-size-10 u-size-6@m u-textCenter">

		<h1>Page Not Found</h1>
		<p>We're sorry, but the page you're looking for could not be found.</p>

		<p>Try searching for what you're looking for</p>

		<form class="search" action="/search">
			<input type="text" name="q" class="search_box" placeholder="Search..." value="">
		</form>

	</div>

</div>
