/*----------------------------------------------------------------------------*\
    #APP FOOTER
\*----------------------------------------------------------------------------*/

.footer {
    margin-top: 8rem;
    overflow: hidden;

    &__top {
        background-color: $color-midlight-gray;
    }

    &__section {
        padding: 8rem 0;
        &--pt0 {
            padding-top: 0;
        }
        &--light-gray {
            background-color: var(--light-gray);
        }
        &--xlight-gray {
            background-color: var(--exlight-gray);
        }
    }

    &__spacer {
        margin: -3.2rem -50vh;
        background-color: white;
        height: 4rem;
    }
    
    &__methods {
        @include respond-below(md) {
            order: 1;
        }
    }

    &__payment {
        @include AvenirNextRegular;
        font-size: 1.8rem;
        display: flex;
        align-items: center;
        color: var(--tundora);
        padding-left: 6rem;

        @include respond-below(md) {
            flex-direction: column;
            align-items: flex-start;
            padding-left: 0;
        }
    }

    &__legal {
        @include respond-below(md) {
            order: 2;
        }
    }

    &__bottom {
        padding: 4rem 0;
        background-color: white;

        @include respond-below(md) {
            padding: 2.5rem 0;
        }
    } 

}
