/*----------------------------------------------------------------------------*\
    #APP FOOTER
\*----------------------------------------------------------------------------*/

.footer {
    margin-top: 8rem;

    &__section {
        padding: 8rem 0;
        &--pt0 {
            padding-top: 0;
        }
        &--light-gray {
            background-color: var(--light-gray);
        }
        &--xlight-gray {
            background-color: var(--exlight-gray);
        }
    }

    .search-form {
        &__input {
            background-color: #fff;
        }
        &__submit {
            margin-top: 5px;
            padding: 1rem;
        }
    }

    .legal-nav {
        &__ul {
            list-style: none;
            padding-left: 2rem;
            @media only screen and (max-width: 767px) {
                padding-left: 0;
            }
        }
        &__li {
            border-right: 1px solid #4a4a4a;
            color: #4a4a4a;
            display: inline-block;
            font-size: 1.8rem;
            padding: 0 1rem;
            &:first-child {
                padding-left: 0;
                @media only screen and (max-width: 767px) {
                    border: 0;
                }
            }
            &:last-child {
                border: 0;
            }
        }
    }
}
