// /*----------------------------------------------------------------------------*\
//     #APP HEADER
// \*----------------------------------------------------------------------------*/

.header {
    margin-bottom: 1rem;

    @include respond-below(md) {
        margin-bottom: 0.75rem;
    }

    &__wrap {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 2.6rem 3.5rem;
        position: relative;

        @include respond-below(md) {
            padding: 1.8rem;
        }

        @include respond-below(sm) {
            padding: 1.8rem 0;
        }
    }

    &__logo {
        order: 1;
        @include respond-below(md) {
            order: 2;
        }

        img {
            height: 6.2rem;
            width: 20.6rem;
        }

        @include respond-below(md) {
            img {
                height: 4.4rem;
                width: 14.5rem;
            }
        }
    }

    &__menu {
        order: 2;
        position: unset;
        width: 60%;
        @include respond-below(md) {
            order: 1;
            width: auto;
            width: 20%;
        }
    }

    &__icons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        @include respond-below(md) {
            display: none;
        }
    }

    &__icon {
        color: var(--dark-blue);
        display: inline-block;
        margin-left: 2.5rem;
        position: relative;

        @include respond-below(md) {
            margin-left: 1rem;
        }

        @include respond-below(sm) {
            margin-left: 0;
            margin-right: 1.5rem;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__shipping {
        @include NimbusExt;
        font-size: 1.4rem;
        letter-spacing: 3px;
        margin: 0;
        @include respond-below(md) {
            display: none;
        }
    }

    &__mobile-icons {
        align-items: center;
        display: none;
        order: 3;
        width: 25%;

        svg {
            color: var(--dark-blue);
        }

        @include respond-below(md) {
            display: flex;
            justify-content: flex-end;
        }
    }

    &__cart-count {
        align-items: center;
        background-color: var(--dark-blue);
        border-radius: 100%;
        color: #fff;
        display: flex;
        font-size: 1rem;
        height: 1.8rem;
        justify-content: center;
        position: absolute;
        right: -1rem;
        top: -0.5rem;
        width: 1.8rem;
    }
}
