.nav {
    margin-top: 1rem;
    position: unset;

    &:after {
        clear: both;
        content: '';
        display: table;
        position: unset;
    }

    &__logo {
        display: block;
    }

    &__toggle {
        display: none;
    }
    &[id^='drop'] {
        display: none;
    }

    &__dd-wrap {
        background: var(--dark-blue);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 2.2rem 0 0;
        padding-bottom: 2rem;
    }

    &__ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0;
        position: unset;
    }

    &__dropdown {
        display: none;
        flex-direction: row;
        justify-content: space-between;
        left: 1rem;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 0;
        width: calc(100% - 2rem);
        z-index: 4;
        &::before {
            background: var(--blue);
            content: '';
            display: block;
            height: 0.6rem;
            left: -1rem;
            position: absolute;
            right: -1rem;
            top: 5.75rem;
            z-index: 1;
        }
    }

    &__li {
        display: inline-block;
        margin: 0;
        position: unset;

        &:hover > .nav__dropdown {
            display: inherit;
            opacity: 1;
        }

        &--sub {
            display: list-item;
        }
    }

    &__a {
        color: var(--dark-blue);
        display: block;
        font-size: 2.25rem;
        font-weight: 500;
        padding: 0;
        text-transform: uppercase;
        transition: 0.3s all;

        &--sub {
            color: white;
            font-size: 2rem;
            text-transform: capitalize;
        }

        &:hover {
            color: var(--blue);
        }
    }

    &__col {
        margin: 0 0.25rem;
        padding: 0 2rem;
        width: 100%;
        &:nth-child(1) {
            margin: 0 0.25rem 0 0;
        }
        &:nth-child(4) {
            margin: 0 0 0 0.25rem;
        }
    }

    &__sub-title {
        color: white;
        font-size: 2.25rem;
        margin-bottom: 2rem;
        text-transform: uppercase;
    }

    &__sub-ul {
        padding: 0;
    }
}

/* Media Queries
--------------------------------------------- */

@media all and (max-width: 768px) {
    .nav {
        display: inline-block;
        &__toggle + a,
        &__menu {
            display: none;
        }
        &__toggle {
            background-color: #254441;
            border: none;
            color: var(--white);
            display: block;
            font-size: 17px;
            padding: 14px 20px;
            text-decoration: none;

            &--main {
                background-color: yellow;
                color: var(--dark-blue);
                display: inline-block;
                padding: 0;
                z-index: 6;
            }
            &:hover {
                background-color: #000000;
            }
        }

        [id^='drop']:checked + .nav__ul {
            display: block;
        }

        &__ul {
            background: var(--dark-blue);
            left: 0;
            position: absolute;
            right: 0;
            z-index: 5;
        }

        &__li {
            display: block;
            width: 100%;
        }

        &__a {
            color: white;
        }
    }
    /* Hide the navigation menu by default */
    /* Also hide the  */
    // .nav__toggle + a,
    // .nav__menu {
    // 	display: none;
    // }

    /* Stylinf the toggle lable */
    // .nav__toggle {
    // 	display: block;
    // 	background-color: #254441;
    // 	padding:14px 20px;
    // 	color:var(--white);
    // 	font-size:17px;
    // 	text-decoration:none;
    // 	border:none;

    // 	&--main {
    // 		display: inline-block;
    // 		background-color: yellow;
    // 		color: var(--dark-blue);
    // 		padding: 0;
    // 	}
    // }

    // .nav__toggle:hover {
    // 	background-color: #000000;
    // }

    /* Display Dropdown when clicked on Parent Lable */
    // [id^=drop]:checked + .nav__ul {
    // 	display: block;
    // }

    /* Change menu item's width to 100% */
    // .nav__li {
    // 	display: block;
    // 	width: 100%;
    // }

    // .nav__ul--sub .nav__toggle,
    // .nav__a--sub {
    //     padding: 0 40px;
    //     background-color: violet;
    // }

    .nav__a:hover {
        background-color: #000000;
    }

    .nav__li--sub .nav__toggle,
    .nav__ul--sub a {
        background-color: #212121;
    }

    /* Hide Dropdowns by Default */
    .nav__ul--sub {
        color: var(--white);
        float: none;
        position: static;
    }

    /* Hide menus on hover */
    nav ul ul li:hover > ul,
    nav ul li:hover > ul {
        display: none;
    }

    /* Fisrt Tier Dropdown */
    .nav__li--sub {
        display: block;
        width: 100%;
    }
}
