.product-meta {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 100%;

  &__content {
    display: flex;
    margin-bottom: 15px;
  }

  &__icon {
    width: 50px;
  }
  &__detail {
    display: flex;
    flex-direction: column;
    width: calc(100% - 50px);

    p,
    span {
      color: #404040;
      font-size: 1.4rem;
      margin: 0;
      @include DINOTRegular;
    }

    a {
      color: var(--blue);
      font-size: 1.4rem;
      @include DINOTRegular;
    }
  }
  &__list {
    span {
      display: block;
      padding: 0;

      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        border-right: 0;
      }
    }
  }
}
