/*----------------------------------------------------------------------------*\
    #AN EMPTY MIXIN FILE
\*----------------------------------------------------------------------------*/


//* CLEARFIX *//
@mixin clearfix() {
  &:after {
    content: '' !important;
    display: block !important;
    clear: both !important;
  }
}

//* ANCHOR EVENT *//
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

//* REMOVE DEFATULT LISTING FROM STYLE *//
@mixin list-reset() {
  list-style: none;
  margin: 0;
}