/*----------------------------------------------------------------------------*\
    #STYLE

    Import the Neue Kit framework, all settings, configurable mixins & theme.
\*----------------------------------------------------------------------------*/

@import '../node_modules/@neuekit/neuekit/src/styles/settings';
@import 'application/settings';

@import '../node_modules/@neuekit/neuekit/src/styles/neuekit';
@import 'application/neuekit';
@import 'application/application';

/* Price */
.visually-hidden {
    position:absolute !important;
    overflow:hidden;
    clip:rect(0 0 0 0);
    height:1px;
    width:1px;
    margin:-1px;
    padding:0;
    border:0;
    white-space: nowrap;
}
.visually-hidden--inline {
    margin: 0;
    height: 1em;
}
// Button 
button{    
    font-family: urw-din,sans-serif;
    font-style: normal;
    font-weight: 400;
}
// Payment icons
.payment-icons {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    list-style: none;
    .payment-icon {
        margin-bottom: 5px;
        margin-left: 5px;
        display: inline-block;
        vertical-align: middle;
        &:first-child {
          margin-left: 0;
          .icon {
            display: inline-block;
            width: 38px;
            height: 24px;
            fill: inherit;    
            vertical-align: middle;    
          }
        }
    }
}
.price__regular, .price__sale {
    margin-right: 0.625rem;
}
.price dd {
    margin: 0 0.5em 0 0;
}
.price--on-sale .price__sale {    
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;    
  }
.price__sale {
    display: none;
}
.price__unit {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    -moz-flex-basis: 100%;
    flex-basis: 100%;
    display: none;
} 
.price--unit-available .price__unit {
    display: block;
}
.price__badges {
    margin-top: 0;
  }
.price__badge {
    display: none;
    align-self: center;
    text-align:center;
    font-size: 0.5em;
    line-height: 1em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 2px;
    padding: 0.2rem 0.5rem;    
}
.price__badge--sale {
    color: var(--white);
    background-color: var(--blue);
}
.price--on-sale .price__badge--sale {
    display: flex;
}
.price--sold-out .price__badge--sale {
    display: none;
}
.price__badge--sold-out {
    color: var(--dark-blue);
    border-color: var(--dark-blue);
}   
.price--sold-out .price__badge--sold-out {
    display: flex;
}  
.price__badges--listing {
    margin-top: 0.5rem;
}
.price__badge {
    font-size: 0.6em;
    padding: 0.25rem 0.55rem;
}
.price--on-sale .price__regular, .price--on-sale .price__availability {
    display: none;
}
// Featured collection
.section-title {
    font-size: 2.1rem;
    font-weight: normal;
}
.product-card {
    .block__info {
        padding: var(--padding-sm) 1rem;
        display: flex;
        flex-direction: column;
        min-height: 150px;
        .collection-brands &, .collection-mens &{
            min-height: 190px; 
        }
        justify-content: space-between;
        .block__p, .small-slide__shop {
            font-size: 1.6rem;
        }
    }
    .price__wrapper .price{
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 1.8rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        right: 0;
        padding: 0 1rem;
        margin-bottom: 0;
        color: var(--blue);
    }
} 

/* Home-slider-1 slider */
.small-slide__img {
        height: auto;
        padding: 55px 0 15px;
        background-color: var(--white);
}
.small-slide__img img{
    width: 100%;
}
.block__message {
    left: 1rem;
    font-size: 1.2rem;
    z-index: 1;
}
.home-about { 
    background-color: transparent;
}
.home-about__item_wrapper {    
    padding: var(--padding-md) var(--padding-sm);
    height: 100%;
}
.home-about__icon {
    height: auto;
    border: 0;
    border-radius: 0;
}
/* Featured blog */
.home-news .home-news__img {
    height: auto;
    background-color: #fff;
}
.home-news .article__title {
    font-weight: normal;
    font-size: 2.1rem;
}
.article__meta-buttons .button {
    display: inline-block;
}
// Header 
.site-header {
    padding: 0 3.5rem;
    .site-header__icons-wrapper {
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .site-header__icon{
            margin-left: 2rem;
        }
    }
    .site-nav {
        .site-nav__link--button {
            padding:0;
        }
    }
}
// Footer
.pre-footer {
    .social{
        @media only screen and (max-width: 767px) {
        margin-top: 3rem;
        height: auto;
            .social__wrap {
             flex-wrap: wrap;
             .block__col {
                width: 100%; 
                &.social__link {
                    order: 2;
                }
             }             
            }
        }
    }
}
.site-footer__newsletter {
    #ContactFooter {
        max-width: 380px;
    }
 .u-textCenter & {
    #ContactFooter {
        margin: 0 auto;
    }
 }
}
.footer {
    margin-top: var(--padding-lg);    
    .legal-nav {
        &__ul {
        list-style: none;
        padding-left: 2rem;
            @media only screen and (max-width: 767px) {
                padding-left: 0;
            }  
        }
        &__li {
            display: inline-block;
            border-right: 1px solid #4a4a4a;
            font-size: 1.8rem;
            padding: 0 1rem;
            color: #4a4a4a;
            &:first-child{
                padding-left:0;
                @media only screen and (max-width: 767px) {
                    border: 0;
                }
            }
            &:last-child{
                border: 0;
            }
        }        
    }
    .search-form{
        &__input {
            background-color: #fff;
        }
        &__submit{
            margin-top: 5px;
            padding: 1rem;
        }
    }
}
.block-spacer {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    margin-left: -50vh;
    margin-right: -50vh;
}

// pagination
.pagination {
    width: 100%;
    text-align: center;
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    li {
        display: inline-block;
        padding: 0 0.5rem;
        .page_btn {
            display: block;
            line-height: normal;
            padding: 1.1rem 1.2rem;
            &.next {
                margin-left: 2rem;
            }
        }
    }   
}
.collection-mens {
    .collection-list-slider {
        margin-left:0 !important;
    }        
}
.view_all_button {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    margin-right: 10px;
}
.block__button {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    .slide__controls {
        display: block;
        width: auto;
    }
}
// Product
.product-single__thumbnail {
    display: block;
    margin: -2px 0 8px;
    position: relative;
    img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
        padding: 2px;
    }
}
/*================ Add to cart form ================*/

.product-form {
    width: auto;
    padding-top: 2rem;
}
.product-form__controls-group {
    display: flex;
    flex-wrap: wrap;
}
  
// When there are no form controls aside from submit
.product-form__controls-group--submit {
    margin-top: 0px;
}  
.product-form__controls-group ~ .product-form__controls-group--submit {
    margin-top: 15px;
}  
.product-form__item {
    flex-grow: 0;
    flex-basis: 100%;
    margin-bottom: 10px;
    padding: 0;
    @media only screen and (min-width: 1024px) {
    flex-basis: 50%;
    padding: 0 5px;
    .product-single--large-image & {
        flex-basis: 100%;
    }
}

label {
    display: block;
    .product-form--hide-variant-labels & {
    // sass-lint:disable no-important
    position: absolute !important;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    }
    }
}
.product-form__item--submit {
    flex: 1 1 300px;
}
.product-form__item--no-variants {
    max-width: 400px;
}
.product-form__item--payment-button {
    flex-basis:100%;

    .product-single--small-media &,
    .product-single--full-media & {
        @media only screen and (min-width: 1024px) {
            display: inline-flex;
            align-items: flex-start;
        }
    }
    &.product-form__item--no-variants {
        flex-direction: column;
        align-items: stretch;
    }
}  
.product-form--variant-sold-out {
    .shopify-payment-button {
      display: none;
    }
}  
.product-form--payment-button-no-variants {
    max-width: 25rem;
}
.product-form__variants {
    display: none;  
    .no-js & {
      display: block;
    }
}
.product-form__input {
    display: block;
    width: 100%;
  
    &.input--error {
      margin-bottom: 0;
    }
}  
.product-form__input--quantity {
    max-width: 5rem;
}
.product-form__error-message-wrapper {
    display: flex;
    flex-basis: 100%;
    padding: 0.5rem 0;
    margin: 0 em(5px) 20px;
}
// No extra spacing if there are other form controls before it
.product-form__controls-group ~ .product-form__error-message-wrapper {
   margin-bottom: 0;
}
.product-form__error-message-wrapper--has-payment-button {
    padding: 0.5rem 0;
}  
.product-form__error-message-wrapper--hidden {
    display: none;
}
.product-form__error-message {
    margin-left: 0.5rem;
    font-size: 1rem;
    line-height: 1.2;    
}  
.product-form__cart-submit {
    display: block;
    width: 100%;
    line-height: 1.4;
    padding-left: 5px;
    padding-right: 5px;
    white-space: normal;
    margin-top: 0;
    margin-bottom: 10px;
    min-height: 44px;

    .product-single--small-media &,
    .product-single--full-media & {
        flex:50%;
        margin-right: 10px;
    }
}
  
.shopify-payment-button {
    .product-single--small-media &,
    .product-single--full-media & {
        flex:50%;
    }

    .shopify-payment-button__button--unbranded {        
        text-decoration: none;
        text-align: center;    
        cursor: pointer;
        border: 1px solid transparent;    
        text-transform: uppercase;
        letter-spacing: 0.08em;
        white-space: normal;    
        display: block;
        width: 100%;
        line-height: 1.4;
        padding-left: 5px;
        padding-right: 5px;
        white-space: normal;
        margin-top: 0;
        margin-bottom: 10px;
        min-height: 44px;

        &[disabled],
        &[aria-disabled] {
            cursor: default;
            opacity: 0.5;
        }      
    }
    .shopify-payment-button__button--branded {        
        overflow: hidden;
    }
    .shopify-payment-button__more-options {
        margin: 16px 0 10px;    
        text-decoration: underline;

        &:hover,
        &:focus {
            opacity: 0.8;
        }
    }
}
.product__quantity-error {
    .icon {
        margin-right: 1rem;
    }
}
.meta_content {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    &_icon{
        width: 50px;
    }
    &_detail {
        p {
            margin: 0;
            color: #404040;
        }
        a {
            color: var(--blue);
        }
        .col_list {
            span {
                border-right: 1px solid #404040;
                padding: 0 10px;
                &:first-child{
                    padding-left: 0;
                }
                &:last-child {
                    border-right: 0;
                }
            }
        }
    }
}


@media only screen and (min-width: 768px) and (max-width: 1024px) { 
    .slide__info {       
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .slide__title {
        font-size: 3rem;        
    }
    .slide__button {
        font-size: 1.8rem;
    }
    .home-about__icon {
        min-width: auto;
        max-width: 4rem;
        width: 100%;
    }
    .home-about__icon img{
        width:100%;
    }
    .home-about__item_wrapper {
        padding-left: 1rem;
        padding-right: 1rem; 
    }
}
@media only screen and (max-width: 767px) {  
    .rich-text.u-section-m {
        margin-top: 6.5rem;        
    }
    .h-text-center {
        letter-spacing: -0.62px;
        font-size: 2.4rem;
    }
    .rich-text__text {
        padding: 0 1rem;
    }
    .slide {
        flex-wrap: wrap;
    }
    .slide__img {
        height: auto;
        width:100%;
    }
    .slide__info {
        order: 2;
        width: 100%;
        margin-bottom: 0;
        padding: 1.7rem 1rem 3rem;
        padding-right: 2.2rem;
    }
    .slide__title {
        font-size: 2.4rem;
        line-height: 1.25;
        margin-bottom: 2.7rem;
    }
    .slide__button {
        font-size: 1.8rem;
    }
    .block__p { 
        font-size: 1.3rem;
    }
    .small-slide__shop{
        font-size: 1.2rem;
    }
    .padding-wrap {
        padding-left: 1rem;
        padding-right: 1rem;        
    }
    .collection-slider .h3{
        font-size: 2.4rem;
    }
    .home-about__title {
        font-size: 1.8rem;
    }
    .home-about__icon {
        text-align: -webkit-center;
    }
    .home-news {
        padding: var(--padding-sm) 0;
    }
    .collection-header {
        .block--row{
            flex-wrap: wrap;
            .block__col {
                width: 100%;
                &.collection-header__img {                    
                    order: -1;
                }
            }
        }
    }
    .collection-list {
        .o-grid--small-item {
        max-width: 110px;
        width: 100%;
        }
    }
}


